<div class="filters">

  <h2>Filters
    <button type="submit" class="clear-filters" ng-controller="ClearFiltersCtrl" ng-click="clear()">
      <span></span>
      Clear
    </button>
  </h2>


  <div class="form-group" ng-controller="VersionFilterCtrl">
    <label class="col-sm-1 control-label">Version:</label>
    <div class="btn-group" dropdown>
      <button type="button" class="btn">{{ selectedFilters.blockingB2G.name }}</button>
      <button type="button" class="btn dropdown-toggle">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="filter in availableFilters.blockingB2G | orderBy:'name'">
          <a ng-click="setFilter(filter)">{{filter.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group" ng-controller="BugsIdsFilterCtrl">
    <label class="col-sm-1 control-label">Bugs IDs:</label>
    <input class="col-sm-11" type="text" ng-model="bugsIds">
  </div>
</div>
