<div class="filters">

  <h2>Filters
    <button type="submit" class="clear-filters" ng-controller="ClearFiltersCtrl" ng-click="clear()">
      <span></span>
      Clear
    </button>
  </h2>

  <div class="form-group" ng-controller="VersionFilterCtrl">
    <label>Version:</label>
    <div>
      <label class="checkbox-inline" ng-repeat="version in availableFilters.versions | orderBy:'toString()'">
        <input type="checkbox" value="{{ version }}" ng-checked="selectedFilters.versions.indexOf(version) > -1" ng-click="toggleSelection(version)">{{ version }}
      </label>
    </div>
  </div>

  <div class="form-group" ng-controller="BugsIdsFilterCtrl">
    <label>Bugs IDs:</label>
    <input type="text" ng-model="bugsIds">
  </div>
</div>
