<div ng-controller="SmoketestsCtrl">
  <h1>Smoketests</h1>
  <div ng-include src="'views/partials/filters.html'"></div>

  <div id="smoketestOpenResolved" ng-controller="SmoketestsOpenResolvedCtrl">
    <angularchart dataset="chartData" options="chartOptions"></angularchart>
  </div>
  <div id="smoketestAge" ng-controller="SmoketestsAgeCtrl">
    <angularchart dataset="chartData" options="chartOptions"></angularchart>
  </div>

  <h2>Details
    <button type="submit" class="go-to-bugzilla" ng-controller="GoToBugzillaCtrl" ng-click="go()">
      <span></span>
      Open these bugs in Bugzilla
    </button>
  </h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Summary</th>
      <th>Age (in days)</th>
    </tr>
    <tr ng-repeat="bug in filteredResults | toArray">
      <td><a ng-click="filter(bug)">{{ bug.id }}</a></td>
      <td>{{ bug.summary }} <div class="bug-status bug-status-{{ bug.status }}">{{ bug.status }}</div></td>
      <td>{{ bug.getAgeInDays() }}</td>
    </tr>
  </table>

</div>
